@import url('./events/eventsMain.css');
@import url('./events/eventsSidebar.css');
@import url('./events/eventsSection.css');
@import url('./events/eventsDayPanel.css');
@import url('./events/eventsButtons.css');
@import url('./events/eventsUtils.css');
@import url('./events/eventsTimer.css');
