@layer components.quest-icon;

/* QUEST ICON (hamburger) */
.quest-icon {
  position: absolute;
  top: var(--space-xs);
  left: var(--space-xs);
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 200;
}

.quest-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background: var(--color-text);
  border-radius: var(--space-xxs);
  box-shadow: var(--shadow-neon-box);
}
